@model IEnumerable<DataLibrary.Models.PlayerModel>

@{
    ViewData["Title"] = "Player Lounge";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Player Name</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.ActionLink("Info", "Index", "PlayerInfo", new { id = item.Username })
            </td>
        </tr>
}
    </tbody>
</table>
