@model Fog.Models.SaleModel
@{
    ViewData["Title"] = "Create Sale";
}

<h1>@ViewData["Title"]</h1>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSale">
            <div class="form-group">
                <label asp-for="SalePercent" class="control-label"></label>
                <input asp-for="SalePercent" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SaleGame" class="control-label"></label>
                <input asp-for="SaleGame" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>